* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b001c;
  min-height: 100vh;
}

.content-wrapper {
  max-width: 700px;
  margin: auto;
}

.logo-section {
  margin: 20px;
  text-align: center;
}

.logo-img {
  width: 100px;
}

.logo-text {
  width: 210px;
}

.icon-section {
  margin: 20px;
  text-align: center;
}

.icon {
  border: 2px solid #ee4efa;
  border-radius: 4px;
  margin: 20px 25px 10px;
}

.chat-icon {
  width: 115px;
  padding: 6px 18px;
}

.profile-icon {
  width: 135px;
  padding: 4.5px 15px;
}

@media (max-width: 420px) {
  .icon {
    margin: 15px 10px 10px;
  }

  .logo-img {
    width: 70px;
  }
  .logo-txt {
    width: 190px;
  }

  .chat-icon {
    width: 105px;
  }

  .profile-icon {
    width: 125px;
  }
}

.chat-area {
  width: 90%;
  min-height: 60vh;
  background-color: #391048;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 650px) {
  .chat-area {
    min-height: 65vh;
  }
}

.single-msg-container {
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  background-color: #ee4efa;
  border: 1px solid #7900ff;
  color: #0b001c;
  display: flex;
  align-items: center;
}

.msg-img-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}

.msg-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.msg-text-wrapper {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
}

small {
  margin-top: 5px;
  color: #391048;
  font-size: 14px;
}

/* set all of the previous 5 classes to left----
then copy and paste these classes with right---
in order to flip the properties for each user
in the chat area */
