/* #ee4efa */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #faedff;
  min-height: 100vh;
}

.content-wrapper {
  max-width: 700px;
  margin: auto;
}

.logo-section {
  margin: 30px 0 20px;
  text-align: center;
}

.logo-img {
  width: 60px;
}

.logo-text {
  width: 160px;
}

.icon-section {
  margin: 20px;
  text-align: center;
}

.icon {
  border: 2px solid #ee4efa;
  border-radius: 4px;
  margin: 20px 25px 10px;
}

@media (max-width: 420px) {
  .icon {
    margin: 15px 10px 10px;
  }

  .logo-img {
    width: 70px;
  }
  .logo-txt {
    width: 190px;
  }

  .chat-icon {
    width: 105px;
  }

  .profile-icon {
    width: 125px;
  }
}

.chat-area {
  width: 65%;
  min-height: 80vh;
  /* background-color: #391048; */
  border: 3px solid #ee4efa;
  margin: auto;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
}

@media (max-width: 650px) {
  .chat-area {
    min-height: 65vh;
  }
}

.left-msg-container {
  width: 90%;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #f9baff;
  color: #0b001c;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.left-img-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}

.left-msg-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 20px 0 0;
  border: 3px solid #fbd1ff;
}

.left-msg-text-wrapper {
  color: #5a1773;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
}

small {
  margin-top: 5px;
  color: #391048;
  font-size: 13px;
}

/* set all of the previous 5 classes to left----
then copy and paste these classes with right---
in order to flip the properties for each user
in the chat area */

.right-msg-container {
  width: 90%;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #f9baff;
  color: #0b001c;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
}

.right-img-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}

.right-msg-img {
  width: 40px;
  height: 40px;
  border: 3px solid #fbd1ff;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.right-msg-text-wrapper {
  color: #5a1773;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
}

.send-container {
  width: 90%;
  min-width: 200px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
}

input:focus {
  outline: none;
}

input[type="text"] {
  color: #5a1773;
  font-size: 17px;
  border: 3px solid #ee4efa;
  width: 80%;
  height: 42px;

  border-radius: 5px;
}

i {
  background-color: #ee4efa;
  padding: 10px;
  margin: 3px;
  border-radius: 50%;
  color: #fff;
}
